<!--新規ブログ登録画面-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規ブログ登録</title>
<style>
	body {
		max-width:1000px;
		margin:auto;
	}
	
</style>
</head>
<body>
<h1>新規ブログ登録</h1>
<table border="1">
<form action="create2" method="post">
	<tr>
		<th>ブログのタイトル</th>
		<td><input style="width:300px" type="text" name="title"></td>
	</tr>
	<tr>
		<th>ブログの説明文</th>
		<td><textarea style="width:300px; height:100px;" name="contents"></textarea></td>
	</tr>
</table>
	<input class="entry" type="submit" value="登録">
</form>
<form action="return3" method="get">
	<input type="submit" value="戻る">
</form>
</body>
</html>