# Java build output
*.class
*.log
*.jar
*.war

# Maven
/target/

# Gradle
/build/

# OS files
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Spring Tool Suite (STS)
.apt_generated
.factorypath
.springBeans
.sts4-cache

# Visual Studio Code
.vscode/

# Other tools
HELP.md
.mvn/wrapper/maven-wrapper.jar